@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=Open+Sans:wght@400;500;600;700&display=swap');

body {
  font-family: Georgia, "Times New Roman",'Open Sans', sans-serif;
}

h1, h2, h3, .font-serif {
  font-family: 'Merriweather', serif;
}

a {
  color: #bd5d38;
  text-decoration: underline;
}
a:hover {
  color: #974a2d;
}

a:not([href]):not([class]), a:not([href]):not([class]):hover {
  color: inherit;
  text-decoration: none;
}

h4 {
  display: block;
  margin-block-start: 1.33em;
  margin-block-end: 1.33em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  unicode-bidi: isolate;
}

blockquote {
  margin: 15px;
  padding: 0 0 0 30px;
  font: bold 1.1em / 1.2em 'Trebuchet MS', Sans-serif;
  background: #FCFCF9;
  border: 1px solid #EFEFEF;
  color: #6C6E3A;
}